<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon
        id="page-icon"
        name="Home"
        item-center
      ></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="login">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
